body {
    background: linear-gradient(200deg, blue, gray)
}

header {
    background-color: #0B78B3;
    display: block;
    padding: 15px;
    margin: 3px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(135deg, violet,blue);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    background: linear-gradient(135deg, violet, blue);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    border: #1F0062 solid 3px;
    margin: 4px;
    color: #F9ECE5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    line-height: 50px;
}

.conteiner1 {
    display: flex;
    justify-content: start;
}

.conteiner4 {
    display: flex;
    justify-content: center;
}

.conteiner7 {
    display: flex;
    justify-content: end;
}

.conteiner10 {
    display: flex;
    justify-content: space-between;
}

.conteiner13 {
    display: flex;
    justify-content: space-around;
}

.conteiner16 {
    display: flex;
    justify-content: space-evenly;
}

.conteiner19 {
    display: flex;
    justify-content: center;
}

.conteiner22 {
    display: flex;
    justify-content: space-between;
}

.conteiner25 {
    display: flex;
    justify-content: space-around;
}

.conteiner28 {
    display: flex;
    justify-content: center;
}

.inicio {
    justify-content: center;
}
